rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow authenticated users to upload their profile photos
    match /profilePhotos/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
